.card {
  width: 350px;
  margin: 10% auto;
  border-radius: 10px !important;
  background: #3b3923 !important;
  color: #d17a22;
  span,
  p,
  h5 {
    font-weight: bold;
    font-size: 2em;
  }
  .card-img-top {
    height: 240px;
  }
  .admin-btn-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .select-input {
    width: 25%;
  }

  .customer-box {
    .customer-box-price {
      color: #b4c292;
    }
    .customer-box-buttons {
      display: flex;
      justify-content: space-between;
      .customer-box-button-add {
        background: #d17a22;
        color: white;
      }
    }
  }

  .order-price {
    font-size: 30px !important;
  }
}
