.order-title {
  text-align: center;
  color: white;
}
.order-cont {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 53vh;
  .order-list {
    padding: 3%;
    .order-payed {
      border: 2px dotted red;
      margin: 30px 0;
      background: rgba(255, 255, 255, 0.3);
      .order-payed-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-height: 100px;
        .order-price {
          color: red;
          padding-left: 3%;
          font-size: 3em;
          width: 100%;
        }
        .btn-order-send {
          width: 50%;
        }
      }
    }
  }
  .buy-box {
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    .price {
      font-size: 3em;
      color: red;
    }
    .btn-buy {
      width: 60%;
      margin: 0;
    }
  }
}
